<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="main-title">Hello! I'm Michelle Hodges.</h1>
    <div class="skill-strip">
      <img src="assets/images/bash-symbol.png" alt="Bash" class="skillsets">
      <img src="assets/images/sql-symbol.png" alt="SQL" class="skillsets">
      <img src="assets/images/mh-photo.png" alt="Hey! I'm Michelle." class="main-photo">
      <img src="assets/images/html-symbol.png" alt="HTML" class="skillsets">
      <img src="assets/images/node-symbol.png" alt="HTML" class="skillsets">
    </div>
  </body>
</html>
