<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="intro-wrapper">
    <h1 class="main-title">Hello! I'm Michelle Hodges.</h1>
      <img src="assets/images/mongo-symbol.png" alt="MongoDB" class="skillsets">
      <img src="assets/images/sql-symbol.png" alt="SQL" class="skillsets">
      <img src="assets/images/java-symbol.png" alt="Java" class="skillsets">
      <img src="assets/images/bash-symbol.png" alt="Bash" class="skillsets">
      <img src="assets/images/mh-photo.png" alt="Hey! I'm Michelle." class="main-photo">
      <img src="assets/images/node-symbol.png" alt="NodeJS" class="skillsets">
      <img src="assets/images/js-symbol.png" alt="JavaScript" class="skillsets">
      <img src="assets/images/html-symbol.png" alt="HTML" class="skillsets">
      <img src="assets/images/css-symbol.png" alt="CSS" class="skillsets">
    </div>

    <div class="about-wrapper">
      <h2 class="subtitle">About</h2>
      <h3 class="about">I'm an Associate Full-Stack Software Engineer at <a href="https://www.redventures.com/what-we-do.html">Red Ventures</a>. I enjoy developing both front-end and back-end code, its hard to choose which one to be more passionate about when you want to learn it all! By next year, I'd like to add React and a functional programming language (ie. Clojure) to my magical belt of skillsets.
      </br>
      Other than being an engineer, I'm also a wife, dog mom, BJJ competitor, avid runner, lifelong visual artist, and handletterer. I have too many hobbies for my own good, sigh.</h3>
    </div>
    <div class="projects-wrapper">
      <h2 class="subtitle">Projects</h2>
      <h3 class="projects">Last Meal, Great Deal!</h3>
      <img class="project-image" src="http://thechurchontheway.org/wp-content/uploads/2016/05/placeholder1.png" alt="Last Meal, Great Deal!">
      <p>Description here</p>
      <p>Technologies used:</p>
      <h3 class="projects">The BoatLot API</h3>
      <img class="project-image" src="http://thechurchontheway.org/wp-content/uploads/2016/05/placeholder1.png" alt="The BoatLot API">
      <p>Description here</p>
      <p>Technologies used:</p>
      <h3 class="projects">HTML Parser</h3>
      <img class="project-image" src="http://thechurchontheway.org/wp-content/uploads/2016/05/placeholder1.png" alt="HTML Parser">
      <p>Description here</p>
      <p>Technologies used:</p>
      <h3 class="projects">Gabble</h3>
      <img class="project-image" src="http://thechurchontheway.org/wp-content/uploads/2016/05/placeholder1.png" alt="Gabble">
      <p>Description here</p>
      <p>Technologies used:</p>
    </div>
    <div class="contact-wrapper">
      <h2 class="subtitle">Contact</h2>
      <table>
        <tr>
          <td>Social Media:</td>
          <td><a href="https://www.linkedin.com/in/michellemhodges/">LinkedIn</a></td>
        </tr>
        <tr>
          <td>Portfolio:</td>
          <td><a href="https://github.com/michellehodges">GitHub</a></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><a href="hi@michellehodg.es">hi@michellehodg.es</a></td>
        </tr>
        <tr>
          <td>Resume (Word Formatting, PDF):</td>
          <td><a href="/assets/pdf/mh-word-resume.pdf">Get it here!</a></td>
        </tr>
        <tr>
          <td>Resume (Sketch Formatting, PDF):</td>
          <td><a href="/assets/pdf/mh-sketch-resume.pdf">Get it here!</a></td>
        </tr>
      </table>
      <form class="contact-form">
          <legend>Want to say hello or work together? Message me here!</legend>
          <div class="form-group">
            <label class="form-name">Full name</label>
            <input  name="name" placeholder="Your name"  type="text">
            <label class="form-email">Email address</label>
            <input  name="email" placeholder="youremail@provider.com"  type="email">
            <label class="form-phone">Phone number</label>
            <input  name="phone" placeholder="(765)998-1425"  type="tel">
            <label class="form-content">Message</label>
            <textarea name="comment" placeholder="Project Description"></textarea>
            <button type="submit">Send</button>
          </div>
      </form>
    </div>
  </body>
</html>
